@import "../../../scss/ _variables.scss";

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-form-field-underline {
  width: 180%;
}

.reset {
  margin-left: 60%;
}

.color1 {
  color: $brand-color;
}

.color2 {
  color: $brand-color2;
}

.color3 {
  color: $brand-color1;
}