<div class="container" fxLayout="column" fxLayoutGap="5%">
  <div fxFlex="20%"></div>
  <div fxLayout="row">
    <div fxFlex="33%"></div>
    <div fxFlex.lg="34%" fxFlex.md="50%" fxFlex.sm="60%" fxFlex.xs="100%">
      <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        <mat-card>
          <p fxLayoutAlign="center">
            <span class="color1">F</span>
            <span class="color2">U</span>
            <span class="color3">N</span>
            <span class="color1">D</span>
            <span class="color2">O</span>
            <span class="color3">O</span>
          </p>
          <div fxLayoutAlign="center">FORGOT PASSWORD</div><br>
          <div fxLayoutAlign="center">Continue to Gmail</div><br>
          <div>
            <!-- Form login start -->
            <mat-form-field class="example-full-width">
              <input name=email #email="ngModel" matInput placeholder="Email Id" [(ngModel)]="model.email" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required>
              <mat-error *ngIf="f.submitted && email.invalid">
                <mat-error *ngIf="email.errors.required">
                  Email is required
                </mat-error>
                <mat-error *ngIf="email.errors.pattern">
                  Email is not valid
                </mat-error>
              </mat-error>
            </mat-form-field><br>
            <!-- Form ends-->
            <br>
            <div class="button">
              <a routerLink="/login">Login Page</a>
              <button class="reset" mat-flat-button (click)=forgotPass()>NEXT</button>
            </div><br>
          </div>
        </mat-card>
      </form>
    </div>
    <div fxFlex="33%" fxFlexOrder="3"></div>
  </div>
  <div fxFlex="20%" fxFlexOrder="3"></div>
</div>