
<div fxLayout="column" fxFlex="100%" >
  <div fxFlex="40%">
      <div class="heading" fxLayout="row" fxLayoutAlign="center center" >Which fundoo notes package do you want</div>
  </div>
  <div fxFlex="60%">
    <div fxLayout="row" fxFlex="100">
      <div fxFlex="25">
      </div>
      <div fxFlex="25">
        <mat-card class="card1">
          <div>
          <mat-card fxLayout="row wrap" fxLayoutAlign="start start" class="innercard">
            <div class="font">
            <div>$ 6.99 per</div>
            <div> Month</div>
            </div>
            <div class="colorr">Advance</div>
            <div>
              <li class="list">Unlimited wall space</li>
              <li class="list">Nice Interface</li>
              <li class="list">$ 6.99/month</li>
              <li class="list">Ability to add title and description</li>
            </div>
          </mat-card>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start start" >
        <button class="cartbutton" >Add To Cart</button>
        </div>
        </mat-card>
        </div>
        <div fxFlex="25">
            <mat-card class="card1">
              <div>
              <mat-card fxLayout="row wrap" fxLayoutAlign="start start" class="innercard">
                  <div class="font">
                      <div>$ 3.99 per</div>
                      <div> Month</div>
                      </div>
                      <div class="colorr">Basic</div>
                      <div >
                        <li class="list">Unlimited wall space</li>
                        <li class="list">Nice Interface</li>
                        <li class="list">$ 3.99/month</li>
                        <li class="list">Ability to add title and description</li>
                      </div>
              </mat-card>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start start" >
                <button class="cartbutton" >Add To Cart</button>
            </div>
            </mat-card>
            </div>
      <div fxFlex="25"></div>
    </div>
</div>
<div fxFlex="20%"></div>
</div>

