.card1{
    height:220px;
    width:125px;
    margin-left:30px;
    background-color:grey

}
.innercard{
    margin-left:-35px;
    margin-top:-35px;
    height:230px;
    width:160px;
}
.cartbutton{
    margin-top: 10px;
    border:none;
    outline:none;
    background-color:grey;
    color:white;
    font-size: 17px;
}
.font{
    font-size: 20px;
}
.colorr{
    color:rgb(81, 104, 209);
    font-size:10px;
}
.list{
    font-size:10px;
    margin-top:14px;
    // text-align: justify
}
.heading{
    margin-top:25px;
    font-size:20px;

}