@import "../../../scss/_mixins.scss";

.card {
    width: 500px;
    @include margins(15%,0%,0%,0%);
    border-radius:5px;
    // position: relative;
  }

  .notecard {
    width: 500px;
    // border-radius:10px;
    @include margins(9%,0%,0%,0%);
  }
  .collabcard{
    width: 500px;
    // border-radius:10px;
    @include margins(9%,0%,0%,0%);
  }
  
  .textbar {
    @include border;
     padding-left: 17px;
    &:empty:before {
      content: attr(data-text);
      display: block;
    }
  }
  
  .icons {
    padding-bottom: 15px;
    position: relative;
  }
  
  .button {
    padding-bottom: 20px;
  }
  
  .title {
    @include border;
    &:empty:before {
      content: attr(data-text);
      display: block;
    }
  }
  
  .pin {
    opacity: 0.5;
    @include margins(0px,0px,10px,0px);
    &:hover {
      opacity: 1;
    }
  }
  
  .addcheck {
    @include margins(10px,0px,0px,0px);
  }
  
  .textbarcheck {
    @include border;
    @include margins(0px,0px,0px,18px);
  }
  .collaborator{
    border-radius:60px 20px 20px 20px;

}
.content{
    font-weight: bold;
}
.content1{
    font-weight: bold;
    margin-left:20px;
}
.contentNew{
    font-weight:lighter;
    font-family:cursive;
  
}
.person{
    margin-top:20px;
}
.buttons{
    float:right;

}
.place{
    width:85%;
    @include border;
}
.menu{
    width:500px;
}
.colabemail{
    font-weight:lighter;
    font-family:cursive;
   
}
.displayletter{
    color:$background-color13;
}
.space{
    margin-top:10px;
}
.collab{
  opacity:0.5;
}
.collab:hover{
  opacity:1;
}
.colour{
  height:50px;
  background-color:$background-color14;
}
.float{
  float:right;
}
.fontwidth{
  font-size: 20px;
}
.tick{
  @include border;
  margin-left:19px;
}
@media only screen and (max-width:320px){
  .card{
    width:430px;
  }
}

@media only screen and (min-width:300px) and (max-width:406){
  .card{
    width:460px;
  }
}
@media only screen and (min-width:410px) and (max-width:500px){
  .card{
    width:580px;
  }
}
@media only screen and (max-width:320px){
  .notecard{
    width:300px;
  }
}
@media only screen and (min-width:300px) and (max-width:406){
  .notecard{
    width:460px;
  }
}
@media only screen and (min-width:410px) and (max-width:500px){
  .notecard{
    width:580px;
  }
}
@media only screen and (max-width:320px){
  .collabcard{
    width:430px;
  }
}
@media only screen and (min-width:410px) and (max-width:500px){
  .collabcard{
    width:600px;
  }
}