<div class="notesPosition">
    <app-notes (onNewEntryAdded)="addNewEntry($event)"></app-notes>
    <div class="sk-circle" *ngIf="loader" >
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    <!-- Pined Notes Starts -->
    <div *ngIf="pinarray.length">
    <span class="pined">PINNED</span>
    <app-addnote  [newData]=pinarray (eventEmit)="emit($event)" (labelEmit)="labelEmit($event)"  ></app-addnote>
    <span class="others">OTHERS</span>
    <app-addnote [newData]=array (eventEmit)="emit($event)" (labelEmit)="labelEmit($event)"  ></app-addnote>
    </div>
    <!-- Pined Notes Ends -->
    <!-- Others Starts -->
    <div *ngIf="!pinarray.length">
    <app-addnote [newData]=array (eventEmit)="emit($event)" (labelEmit)="labelEmit($event)"  ></app-addnote>
    </div>
     <!-- Others Ends -->

</div>